{% include 'user_header.html' %}
  
  
<center>
    <h3 style="margin-top: 100px;">Notification</h3>
    <table class="table" style="margin-top: 60px;">
        <thead class="table-dark">

      
        <tr>
            <th>Title</th>
            <th>Notification</th>
            <th>Date Time</th>
            <th></th>
        </tr>
    </thead>
        {% for i in r%}
        <tr>
            <td>{{i.title}}</td>
            <td>{{i.description}}</td>
            <td>{{i.date_time}}</td>

        </tr>
        {% endfor %}
    </table>
</center>


<br><br><br><br><br>
{% include 'footer.html'%}


<style>
    th,td{
        text-align: center;
    }
</style>